.hide{
    display: none;
}
@media screen and (max-width:576px) {
    /* header section */
    header{
        width: 100vw;
        height:auto;
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-position:center bottom;
        background-color: #FFF8F3;
    
    }
    .banar{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    nav{
        width: 100%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    nav ul{
        display: flex;
        align-items: center;
        column-gap: 20px;    
    }
    /* header content */
.content1{
    width: 98%;
    height: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .text_content1 > p, div, h1, h3{
    z-index: 1;
} */
.content1 .text_content1{
    width: 95%;
    height:300px;
    z-index: 1;
    position: absolute;
    top: 0;
    margin-left: 0;
    justify-content: center;
    align-items: start;
}
.text_content1 div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
 } 
.text_content1> h3{
    font-size: 40px;
}
.text_content1> h1{
    font-size: 55px;
}
.content1>img{
    width: 100%;
    height:auto;
    position: absolute;
    z-index: 0;
}


    /* about section */
    .about{
        width: 100vw;
        height: auto;
        margin-top: 50px ;
    }
    .box{
        width: 90vw;
        height: auto;
        padding: 10px 0;
        margin: auto;
        flex-direction: column;
    }
    .content_box{
        width: 95%;
        height: auto;
        margin: auto;
    }
    .content_box>.items{
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: auto;
    }


    /* i can do section */
    .ido{
        margin-top: 50px ;
        width: 100vw;
        height: auto;
    }
    .ido_box{
        width: 95%;
        margin: auto;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }
    .know{
    flex-direction: column;
    gap: 10px;
    }
/* resume */
.resume{
    margin-top: 50px;
    width: 100vw;
    height: auto;

}
.resume>.resume_box{
    max-width: 97%;
    height: auto;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.resume_box>h1{
    font-size: 30px;
}
.content2{
    width: 95%;
    margin: 5px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.resume_box>.content2>div{
    padding: 10px 0;
    width: calc(100% - 10px);
    height: auto;
    margin: 10px 0;
}
.content2>div>div{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.content2>div>h2{
    color: #474747;
    font-size: 28px;
    font-weight: bold;
}
.content2>div>div>h2{
    color: #474747;
    font-size: 22px;
    font-weight: bold;
}
.content2>div>div>h3{
    color: #757575;
    font-size: 18px;
    font-weight: bold;
}
.content2>div>div>p{
    color: #757575;
    font-size: 14px;
}
.resume_box> .button{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer */
footer{
    margin-top: 50px ;
    width: 100vw;
    height: auto;
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_box{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}
.footer_content{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.footer_content>h2{
    color: #181818;
    font-size: 30px;
    font-weight: bold;
}
.footer_content>p{
    color: #474747;
    font-size: 15px;
}
.footer_content>div{
    text-align: center;
    margin-bottom: 20px;
}

.form{
    width: 90%;
    height: auto;
    margin: auto;
}
.form>h2{
    font-size: 30px;
}
form{
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form>input[type="text"], form>input[type="email"]{
    width: 99%;
    height: 40px;
}
textarea{
    width: 99%;
    margin-top: 10px;
    height: 100px;
    resize: none;
}
form>input[type="submit"]{
    color: white;
    background-color: #FD6E0A;
    border-radius: 8px;
    font-size: 20;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    height: 50px;
}

}